<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>160</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2013-06-14T23:45:59Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>174</real>
		<key>mainWindowFrame</key>
		<string>350 170 830 888 0 0 1920 1058 </string>
		<key>openTabs</key>
		<array>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>11</string>
			</dict>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>12</string>
			</dict>
			<dict>
				<key>className</key>
				<string>HypeJavascript</string>
				<key>oid</key>
				<string>14</string>
			</dict>
		</array>
		<key>selectedTabIndex</key>
		<integer>3</integer>
		<key>showSceneTabView</key>
		<true/>
		<key>splitHeight</key>
		<real>444</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>4.3.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>oidCounter</key>
	<integer>14</integer>
	<key>resources</key>
	<array/>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>7</key>
					<real>2.1333334445953369</real>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{830, 444}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>7</string>
				<key>elements</key>
				<dict>
					<key>10</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#BFFD62</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseOver</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>javascriptOid</key>
									<string>11</string>
									<key>type</key>
									<integer>4</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AltText</string>
							<key>objectValue</key>
							<string>over:Action</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>117px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>214px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>6</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box-1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
					<key>13</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseOver</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>javascriptOid</key>
									<string>14</string>
									<key>type</key>
									<integer>4</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>117px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>63px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>7</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box-2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>110px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>42px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>-6px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>177px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>36px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>190px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>173px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>23px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>3</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
					<key>4</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseOver</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>sceneSymbol</key>
									<integer>1</integer>
									<key>transition</key>
									<integer>1</integer>
									<key>type</key>
									<integer>1</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>282px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>343px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#FF3F2C</string>
						</dict>
					</array>
					<key>8</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionsOnMouseOver</string>
							<key>objectValue</key>
							<array>
								<dict>
									<key>javascriptOid</key>
									<string>12</string>
									<key>type</key>
									<integer>4</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AltText</string>
							<key>objectValue</key>
							<string>hover=&gt;Action</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>117px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>127px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>28px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>4</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box-1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#BFFD62</string>
						</dict>
					</array>
					<key>9</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>110px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>42px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>198px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>150px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Box</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>1.0666667222976685</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>169px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>36px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>0618C5DC-A5AF-4819-905B-2CAE8A38C776-90546-000012114BD477BA</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>1.0666667222976685</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>36px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>1.0666667222976685</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>169px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>C81E5C7D-D2F5-4FCB-BA5E-7455D5700EDD-90546-000012114BD684B7</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Actions</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>7</string>
								<key>startTime</key>
								<real>2.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Actions</string>
									<key>objectValue</key>
									<array>
										<dict>
											<key>javascriptOid</key>
											<string>11</string>
											<key>type</key>
											<integer>4</integer>
										</dict>
									</array>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>2</integer>
								<key>uuid</key>
								<string>5FDD9861-5EEF-4EFC-9535-2BCF88FC2C61-90546-0000123FCC2AC9C8</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.1333334445953369</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>36px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>082BA8B6-F9DA-4799-A45E-B3EE248B21D7-90546-0000124D2B8FA31E</string>
								<key>zIndex</key>
								<integer>3</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>7</string>
						<key>name</key>
						<string>Action</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array>
				<string>13</string>
			</array>
			<key>showTimelineActions</key>
			<true/>
			<key>splitHeight</key>
			<real>444</real>
		</dict>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{830, 444}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>6</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>181px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>18px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>254px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string>Game over</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>78px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
				</dict>
				<key>onSceneKeyDownActions</key>
				<array/>
				<key>onSceneKeyPressActions</key>
				<array/>
				<key>onSceneKeyUpActions</key>
				<array/>
				<key>onSceneLoadActions</key>
				<array/>
				<key>onSceneTimelineCompleteActions</key>
				<array/>
				<key>onSceneUnloadActions</key>
				<array/>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene 2</string>
			<key>oid</key>
			<string>5</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>showTimelineActions</key>
			<false/>
			<key>splitHeight</key>
			<real>444</real>
		</dict>
	</array>
	<key>scripts</key>
	<array>
		<dict>
			<key>oid</key>
			<string>11</string>
			<key>source</key>
			<string>// element - DOMHTMLElement that triggered this function being called
// event - event that triggered this function being called
function startTimeline_Action(hypeDocument, element, event) {
	hypeDocument.startTimelineNamed('Action');
	
}
</string>
		</dict>
		<dict>
			<key>oid</key>
			<string>12</string>
			<key>source</key>
			<string>// element - DOMHTMLElement that triggered this function being called
// event - event that triggered this function being called
function pauseTimeline_Action(hypeDocument, element, event) {
	hypeDocument.pauseTimelineNamed("Action");
}
</string>
		</dict>
		<dict>
			<key>oid</key>
			<string>14</string>
			<key>source</key>
			<string>// element - DOMHTMLElement that triggered this function being called
// event - event that triggered this function being called
function continueTimeline_Action(hypeDocument, element, event) {
	hypeDocument.startTimelineNamed('Action');
	
}
</string>
		</dict>
	</array>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
